@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');

//pour eviter d'avoir un blanc sur la page ou que la page devient bizarre sur les petits ecrans
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  
}
//css for the dark mode
.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }
p {
  color: white;
}

  svg {
    color: white;
  }



 
  .navbar {
    color: #dfdada;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
   
    background-color: #191919;
    border-color: #333;
   

    .top {
      .logo {
        color: #dfdada;
      }
    }
    hr {
      border-color: #ffffff;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: rgb(161, 159, 159);
      border: none;
      
     

      .viewButton {
        padding: 2px 5px !important;
        background: rgb(39, 39, 186) !important;
        border-radius: 5px !important;
        color: rgb(248, 248, 248) !important; 
        border: 1px dotted rgba(0, 0, 139, 0.596) !important;
        cursor: pointer !important;
        transition: all 0.3s ease-out !important;
      }
      .viewButton:hover {
        background: rgb(90, 90, 184) !important;
        color: white !important;
      }
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: white;
        background: crimson;
        border: 1px dotted rgba(220, 70, 20, 0.6);
        cursor: pointer;
        transition: all 0.3s ease-out !important;
      }
      .statusButton {
        padding: 2px 5px;
        border-radius: 5px;
        background: rgb(73, 145, 25);
        color: white;
        border: 1px dotted rgb(69, 110, 41);
        cursor: pointer;
        transition: all 0.3s ease-out !important;
      }
      .deleteButton:hover {
        background: rgb(64, 29, 36) !important;
        color: white !important;
      }
  
      .statusButton:hover {
        background: rgb(97, 187, 37) !important;
        color: white !important;
      }
      .endButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        background-color: rgb(142, 42, 11);
        border: 1px dotted rgb(29, 29, 29);
        cursor: pointer;
        transition: all 0.3s ease-out !important;
  
      }
      .endButton:hover {
        background: rgb(33, 33, 33) !important;
        color: white !important;
      }
      .cellWithStatus {
        color: gray;
        border: none;
      }
      
    }
  }

  input{
    color: white !important;
    background-color: transparent;
  }
  
  
}



@media screen and (max-width: 1040px) {

  .list {
    display: flex;
    flex-direction: column;
    
  }

  .sidebar {
    width: 100%;
    height: 50px;
    }
    
}