.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }
        button {
          padding: 2px 5px;
          border-style: none;
          display: flex;
          align-items: center;
        }
        button:hover {
          border: black;
          background-color: #f2e2e2;
          color: white;
          cursor: pointer;
        }

        span{
            font-size: 13px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
        }
      }
    }
  }

  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #7451f8;
          cursor: pointer;
          margin: 5px;

          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
          &:nth-child(3){
              background-color: darkblue;
          }
      }
  }
}

@media screen and (max-width: 1040px) {
  .sidebar {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    min-height: 50px;
    
  
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }
  
    hr {
      display: none;
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  
    .center {
      margin-right: -40% !important;
      padding-left: 10px;
      height: 50px;
      align-items: center;
  
      ul {
        
        height: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
  
        
  
        li {
          margin: 0.7rem 0;
          display: flex;
          align-items: center;
          cursor: pointer;
  
        }
      }
    }
  
    .bottom{
       
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0;

    }
  }
  
}

@media screen and (max-width: 650px) {
  .sidebar {
    
    .center {
      margin-right: -15% !important;
      
  
      
    }
  
    
  }
  
}


@media screen and (max-width: 650px) {
  .sidebar {
    
    .center {
      margin-right: -5% !important;
      
  
      
    }
  
    
  }
  
}






@media screen and (max-width: 395px) {
  .sidebar {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    min-height: 50px;
    flex-wrap: wrap;
    
  
    .top {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }
  
    hr {
      display: none;
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  
    .center {
      margin-right: 0 !important;
      padding-left: 10px;
      height: 30px;
      align-items: center;
  
      ul {
        
        height: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
  
        
  
        li {
          margin: 0.1rem 0;
          display: flex;
          align-items: center;
          cursor: pointer;
  
        }
      }
    }
  
    .bottom{
        
        height: 30px;
        display: flex;
        align-items: center;
        margin: auto;

    }
  }
  
}


